body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #FF3300;
  padding: 0;
}
header{
  color: white;
  text-align: center;
  margin: 0px auto;
  padding: 20px 0;
}

h1{
  border-bottom: 4px solid white;
  padding-bottom: 5px;
  width: 30%;
  margin: auto;
}

#container{
  padding: 20px;
  width: 95%;
  margin: 0px auto;
  background-color: #FFFFFF;
  
}

.product{
  background-color: #F5F5F5;
  margin: 0px auto;
  border: 1px solid #D9D9D9;
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
}

h2{
  color: #FF6700;
}
a{
  text-decoration: none;
  color: #5098D6;
}
img{
  height: 150px;
  width: 270px;
}
footer{
  color: white;
  text-align: center;
  margin-top: 15px;
}